/* aside */
.step-background {
    /* background-color: white; */
    /* background-image: url(../assets/images/bg-sidebar-mobile.svg); */
    background-color: #6F8DD7;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 10.75rem;
    width: 100%;
}

.step-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.step-informations {
    display: flex;
    gap: 1rem;
}

.step-informations .step-number {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;

    width: 2rem;
    height: 2rem;

    transition: all 0.2s ease-in-out;
}

.step-informations .current-step {
    background-color: var(--light-blue);
    color: var(--marine-blue);
}

.display {
    display: none;
}

/* main-container */
.main-container {
    background-color: var(--white);

    padding: 2rem 1.5rem;
    border-radius: .7rem;

    box-shadow: 0 2rem 2rem -10px var(--light-gray);
}

.main-container .header-container h1 {
    font-size: 1.5rem;
    color: var(--marine-blue);

    margin-bottom: 1rem
}

.main-container .header-container p {
    color: var(--cool-gray);
}

/* actions */
.actions {
    display: flex;
    align-items: center;

    background-color: var(--white);

    position: fixed;
    bottom: 0;
    left: 0;

    padding: 1rem;
    width: 100%;
}

.actions .btn-go-back {
    background: transparent;
    color: var(--cool-gray);
}

.actions .btn-next-step {
    color: var(--alabaster);
    background-color: var(--marine-blue);
    border-radius: .5rem;

    padding: .75rem 1rem;
}

.btn-confirm {
    color: var(--alabaster);
    background-color: var(--purplish-blue);
    border-radius: .5rem;

    padding: .75rem 1rem;
}

.actions .btn-go-back,
.actions .btn-next-step,
.btn-confirm {
    border: none;
    font-weight: 700;

    cursor: pointer;
    transition: all .1s ease-in-out;

    font-family: 'Ubuntu', sans-serif;
}

.actions .btn-go-back:hover {
    color: var(--marine-blue);
}

.actions .btn-next-step:hover {
    background-color: hsl(213, 96%, 30%);
}

.actions .btn-confirm:hover {
    background-color: hsl(243, 100%, 80%);
}

/* bottom-space */
.bottom-space {
    width: 100%;
    height: 6rem;
}

/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
    color: var(--marine-blue);
}

.attribution a {
    color: var(--purplish-blue);
}

@media only screen and (min-width: 768px) {
    body {
        align-items: center;
    }

    main {
        margin-top: 0 !important;
    }

    /* aside */
    .step-background {
        background-repeat: no-repeat;
        /* background-image: url(../assets/images/bg-sidebar-desktop.svg); */
        background-color: #6F8DD7;
        /* background-color: #C3CDE6; */
        border-radius: .5rem;
        height: 100%;
        position: inherit;
    }

    .step-bar {
        flex-direction: column;
        margin-top: 0;
        gap: 2rem;

        width: 15.125rem;
        padding: 2.375rem 2rem 0;
        transition: all .2s linear;
    }


    .step-informations .step-text {
        text-transform: uppercase;

        font-size: .8rem;
        flex-direction: column;
    }

    .step-informations .step-text span:first-child {
        color: var(--cool-gray);
    }

    .step-informations .step-text span:last-child {
        font-size: 1rem;
        color: var(--white);
        font-weight: 700;
    }

    .display {
        display: flex;
    }

    /* main-container */
    .main-container {
        display: flex;
        padding: 1rem;
        height: 37.5rem;
        background-color: #70788d;
    }

    .header-and-form-container {
        padding: 2rem 2rem 1rem;
        transition: all .2s linear;
    }

    .header-and-form-container .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 87%;
    }

    .main-container .header-container h1 {
        font-size: 2rem;
        margin-bottom: .3rem;
    }

    .main-container .header-container p {
        font-size: .9rem;
        font-weight: 500;
    }

    /* actions */
    .actions {
        position: inherit;
        transition: all .2s linear;
        padding: 0;
    }

    .actions .btn-next-step {
        padding: 1rem 1.8rem;
    }

    .actions .btn-confirm {
        padding: 0.875rem 1.871875rem;
    }

    /* bottom-space */
    .bottom-space {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-height: 575px) {
    .main-container {
        height: 29.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    /* aside */
    .step-bar {
        width: 17.125rem;
    }

    /* main-container */
    .header-and-form-container {
        padding: 2.8rem 6.25rem 1rem;
    }

    .main-container .header-container p {
        font-size: 1rem;
    }
}